#results-title {
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

#results-deckname {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
}

#results-info {
  margin: 10px;
  font-weight: 200;
}

@media (max-width: 670px) {
  #results-title {
    font-size: 28px;
    margin: 10px;
  }
  #results-deckname {
    font-size: 20px;
  }
}
