* {
  font-family: Oswald;
  color: #2c3e50;
}

input[type="text"] {
  background-color: #c4c4c4;
  border: none;
  height: 35px;
  text-align: center;
}
input[type="text"]:focus {
  outline: none;
  transform: scale(1.2);
}

.body {
  background-color: #e5e5e5;
}

.flexbox-parent-middle-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flexbox-parent-middle-top {
  display: flex;
  align-items: center;
  justify-content: top;
  height: 100vh;
}

.flex-direction-column {
  flex-direction: column;
}

.margin-top-20 {
  margin-top: 20px;
}

#timer-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: 400;
}

#timer-wrapper {
  display: flex;
  justify-content: center;
}
